.box{
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 10px solid black;
    margin: 30px;
    box-sizing: content-box;
    background-color: lightblue;
}
.box1{
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 10px solid black;
    margin: 30px;
    box-sizing: border-box;
    background-color: lightgreen;
}