*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.navbar .icon{
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.navbar .list{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar .list li a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
.navbar .list li a:hover{
    color: #007BFF;
}
.hero{
   display: flex;
   gap: 20px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #fff;
  height: 80vh;
}
.hero h1{
    font-size: 48px;
}
.hero p{
    font-size: 24px;
}
.hero button{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #78a6d7;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}
.hero button:hover{
    background-color: #5591c1;
}