* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f4e2e2;
  margin: 2rem;
}

/* Container */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Card */
.card {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

/* Image */
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.4s ease;
}

/* Hover effect */
.card:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

/* Text */
.overlay h3 {
  margin-bottom: 5px;
}

.overlay p {
  font-size: 14px;
  margin-bottom: 10px;
}

/* Button */
.overlay a {
  padding: 8px 14px;
  background: white;
  color: black;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
}
