.container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
}

.item {
 flex-basis: 20%;
  background: lightblue;
  margin: 5px;
  height: 100px;
}

.item:nth-child(1) {

  background: lightyellow;
  flex-grow: 1;
}

.item:nth-child(2) {
  background: lightgreen;
  flex-grow: 2;
}
.item:nth-child(3) {
  background: lightcoral;
  flex-grow: 3;
}

.flex {
  /* display: flex;
  flex-wrap: wrap; */
  border: 2px solid red;
  margin: 20px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.box {
  margin: 20px;
  padding: 15px;
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
