* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(235, 217, 184);
  color: rgb(51, 51, 51);
}
.pages {
  display: grid;
  grid-template-areas:
    "header"
    "hero"
    "about"
    "features"
    "services"
    "portfolio"
    "testimonials"
    "cta"
    "footer";
}

/* mapping */
.header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgb(235, 217, 184);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header h1 {
  font-size: 3rem;
  font-weight: bold;
}
.header .navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.header .navbar ul li a {
  text-decoration: none;
  color: rgb(51, 51, 51);
  font-weight: bold;
}
.navbar {
  display: none;
}

.menu {
  font-size: 1.5rem;
  cursor: pointer;
}
/* --------------------------hero---------------------- */

.hero {
  grid-area: hero;
  display: grid;
  padding: 60px 20px;
  gap: 50px;
  text-align: center;
  align-items: center;
}
.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.hero-text p {
  font-size: 1.2rem;
  color: rgb(102, 102, 102);
  margin-bottom: 20px;
}
.hero-button {
  padding: 10px 20px;
  background-color: rgb(51, 51, 51);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}
.hero-img img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
/* --------------------------features-------------- */
.features {
  grid-area: features;
  padding: 60px 20px;
}
.feature-text {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 40px;
}
.feature-section {
  display: grid;
  gap: 30px;
}
.feature {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease;
}
.feature:hover {
  transform: translateY(10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.feature h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.feature p {
  font-size: 1.1rem;
  color: rgb(102, 102, 102);
}

/* ------------------------about-------------------- */

.about {
  grid-area: about;
  display: grid;
  padding: 60px 20px;
  gap: 50px;
  text-align: center;
  /* align-items: self-start; */
}
.about-img img {
  width: 100%;
  border-radius: 10px;
}
.about-text h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.about-text h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: rgb(51, 51, 51);
}
.about-text p {
  font-size: 1.2rem;
  color: rgb(102, 102, 102);
}

/* -----------------------------services------------------------ */
.services {
  grid-area: services;
  padding: 60px 20px;
}
.services h2 {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 40px;
}
.service-card {
  display: grid;
  gap: 30px;
}
.service {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease;
}
.service:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.service h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.service p {
  font-size: 1.1rem;
  color: rgb(102, 102, 102);
}

.portfolios {
  grid-area: portfolio;
  padding: 60px 20px;
}
.portfolios h2 {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 40px;
}
.portfolio-section {
  display: grid;
  gap: 30px;
}
.portfolio {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease;
}
.portfolio:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.portfolio img {
  width: 100%;
  border-radius: 10px;
}
.portfolio h3 {
  font-size: 1.2rem;
  margin-top: 10px;
}
.portfolio p {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: rgb(102, 102, 102);
}
/* ----------------------------------testimonial------------------ */

.testimonials {
  grid-area: testimonials;
  padding: 60px 20px;
}

.testimonials h1 {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 40px;
}
.testimonial-section {
  display: grid;
  gap: 30px;
}
.testimonial {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  min-height: 200px;
  transition: all 0.3s ease;
}
.testimonial:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.testimonial p {
  font-size: 1.1rem;
  color: rgb(102, 102, 102);
  margin-bottom: 15px;
}
.testimonial h3 {
  font-size: 1.2rem;
  color: rgb(51, 51, 51);
}
.testimonial h2 {
  font-size: 1.5rem;
  color: rgb(102, 102, 102);
  margin-bottom: 10px;
}
/* -------------------------------CTA-------------------- */

.cta {
  grid-area: cta;
  padding: 60px 20px;
  text-align: center;
}
.cta h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.cta p {
  font-size: 1.2rem;
  color: rgb(102, 102, 102);
  margin-bottom: 20px;
}
.cta-button {
  padding: 10px 20px;
  background-color: rgb(51, 51, 51);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}
/* -------------------------------footer------------------- */
.footer {
  grid-area: footer;
  background: #111;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.footer-top h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.footer-top p {
  font-size: 0.95rem;
  color: #ccc;
  max-width: 500px;
  margin: 0 auto 25px;
}

/* links */
.footer-links {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 0.95rem;
}

.footer-links a:hover {
  color: #fff;
}

.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 25px;
  font-size: 0.9rem;
  color: #aaa;
}


@media (min-width: 1200px) {
  .navbar {
    display: block;
  }
  .menu {
    display: none;
  }
  .hero {
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 100px;
  }
  .about {
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 100px;
  }
  .feature-section {
    grid-template-columns: repeat(3, 1fr);
  }
  .service-card {
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio-section {
    grid-template-columns: repeat(3, 1fr);
  }
  .testimonial-section {
    grid-template-columns: repeat(3, 1fr);
  }
}
