body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1{
    color: #333;
    text-align: center;
    margin-top: 20px;
}
p{
    color: #666;
    line-height: 1.6;
    margin: 20px;
    text-align: center;
}
h2{
    color: #444;
    margin-top: 30px;
    text-align: center;
}
h3{
    color: #555;
    margin-top: 20px;
    text-align: center;
}
 strong{
    color: #aa1a1a;
    text-align: center;
    font-weight: bold;
}
 em{
    color: #1a1aaa;
    text-align: center;
    font-style: italic;
}