* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: wheat;
  font-family: Arial, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header .logo {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}
.header .nav ul {
  display: flex;
  gap: 15px;
}
.header .nav ul li {
  list-style: none;
}
.header .nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s;
}
.header .nav ul li a:hover {
  color: #555;
}
.home-section {
  height: 100vh;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}
.home-section h2 {
  font-size: 3rem;
  color: #333;
}
.home-section p {
  font-size: 1.2rem;
  color: #666;
}
.home-section button {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  color: #fff;
  margin-top: 30px;
  background-color: #333;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.home-section button:hover {
  background-color: #555;
}

.about-section {
  padding: 80px 20px;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}
.about-image {
  width: 450px;
  height: 450px;
}
.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.about-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-content h2 {
  font-size: 2.5rem;
  color: #333;
}
.about-content p {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.5;
}
.about-content button {
  max-width: 150px;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  color: #fff;
  background-color: #333;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.about-content button:hover {
  background-color: #555;
}

.services-section {
  padding: 80px 20px;
  text-align: center;
}
.services-section h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 20px;
}

.service-card {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}
.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.contact-section {
  padding: 80px 20px;
  text-align: center;
}
.contact-section h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
}
.contact-form{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-form input,
.contact-form textarea {
    padding: 10px;
    background-color: rgb(250, 232, 198);
    border-radius: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-form textarea {
    resize: vertical;
    min-height: 100px;
}
.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}
.contact-form button {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    color: #fff;
    background-color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.contact-form button:hover {
    background-color: #555;
}
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.footer p {
  font-size: .8rem;
}

