*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block{
    display: block;
    width: 100%;
    height: 50px;
    background-color: lightblue;
    margin: 10px;
}
.inline{
    display: inline;
    /* width: 150px;     /// this will be ignored
    height: 50px; */
    padding: 10px;
    background-color: lightgreen;
    margin: 10px;
}
.inline-block{
    display: inline-block;
        height: 50px;  
        width: 150px;
    background-color: lightcoral;
}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    padding: 10px;
}
.flex-item{
    background-color: lightpink;
    margin: 10px;
    padding: 10px;
}